#profile_image{
    height: 300px;
    margin: 48px auto;
    display: block;
    padding-right: -29.45px!important;
}

#about-text-row-1{
    padding: 48px 48px 48px 0;
}

#about-text-row-2{
    padding: 0 48px 48px 48px;
}